<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'/'">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/'">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <button class="btn btn-primary ml-2" (click)="crearUsuario()">Crear</button>
        </li>
      </ul>
    </div>
  </nav>
  