<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-1">404</h1>
            <p class="lead">Page Not Found</p>
            <p class="text-muted">The page you are looking for might be in another castle.</p>
            <a href="/login" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>

<!-- Agrega el script de Bootstrap al final del cuerpo del documento -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-oL/ZqRH81E2OXIkSTX+1V4Aqyy5X8aUjj3LvMP7x9MBoopjI2aU6Mz5c2g+JcGJo" crossorigin="anonymous"></script>